.slidified {
    position:relative;
    overflow:hidden;
}
.slidified .slide {
    display:none;
    left:0px;

    /*                  TODO!  specify slide height/width -->
    height: 500px;
    width: 800px;
    */
}
.slidified .slide.active {
    display:block;
    position:absolute;
    left:0px;
}
.slidified .control {
    font-size:48px;
}
.slidified .control.on {
    color:cornflowerblue;
}
