.slidified {
    position:relative;
    /*  overflow:hidden;   */      /*  <--- dosen't support design which involves stuff being to the left and right of the slides!  */
}
.slidified .slide {
    display:none;
    left:0px;
    /*  
        TODO  specify a fixed slide height & width 
              for the slides in an external stylesheet! 
     */
}
.slidified .slide.active {
    display:block;
    position:absolute;
}
.slidified .control {
    font-size:48px;
}
.slidified .control.on {
    color:cornflowerblue;
}
.slidified.partial .slides {
    width: 999999px;            /*   FIXME  <---  probably better solution for this  */
    position: relative;
}
.slidified.partial .slide {
    display:block;
    float:left;
    position:relative;
}
.slidified.partial .slide.active {
    position:static;   /* e.g. the default position: value */
}
.slidified.partial.responsive .slides {
    width:auto;
    max-width:1200px;
}
.slidified.partial.responsive .slide {
    width:30.6%;
    position:absolute;

    transform: translate3d(0px, 0px, 0px);
    transition-timing-function: ease;

    /* transition-duration: 0.8s;               11/13/13  0.8 a lil slow  */
    transition-duration: 0.65s;

    /*  FIXME TODO  -  if there are more than 4 slides, we gotta position it off the screen!
      
          Q.  is this 'left: -100%' the way to do it??
     */
    left: -100%;        
}

.slidified.responsive .slide img {
    height: 100%;
    width: 100%;
} 
.slidified.responsive .slide.at-bat {           /* these percentages more or less plagarized from bustle.com  <3  */
    left:1.6% !important;
    width:63.6% !important;
} 
.slidified.responsive .slide.on-deck {
    left:67.8% !important;
} 
.slidified.responsive .slide.in-the-hole {
    left:100.85% !important;
    opacity:0.4;
} 
.slidified.responsive .slide.last-up {
    left:-31.4% !important;
    opacity:0.4;
} 
